@model IEnumerable<KQT.Entity.NguoiDung>
@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Quản lý người dùng</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Người dùng </li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="card-title">Người dùng</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <a class="btn btn-primary" href='@Url.Action("Create","Employees")'> Thêm mới</a>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="dtTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Ảnh đại diện
                                </th>
                                <th>Tên đăng nhập</th>
                                <th>
                                    Họ tên
                                </th>
                                <th>
                                    Số điện thoại
                                </th>
                                <th>
                                    Email
                                </th>

                                <th style="width:10%">Xử lý</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        <img src="~/Content/img/User/@item.Avatar" style="width:50px;height:50px;" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenDangNhap)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HoTen)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DienThoai)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>

                                    <td style="width:10%">
                                        <a href='@Url.Action("EditNguoiDung","Employees", new{ id = item.Id})' class="btn btn-info"><i class="fas fa-edit"></i></a>
                                        |
                                        <a href="javascript:void(0)" onclick="deleteEmployees(@item.Id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section scripts{
    <script src="~/Content/plugins/jquery/jquery.js"></script>
    <script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    @*$("#example1").DataTable();
        $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        });*@
    <!-- DataTables -->
    <script>
        $(function () {
            $('#dtTable').DataTable();
        });

        const deleteEmployees = (id) => {
            Swal.fire({
                title: 'Bạn chắc chắn sẽ xóa?',
                text: "Bạn sẽ không thể khôi phục bản ghi này!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Oke baby!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '@Url.Action("delete","Employees")' + `?id=${id}`,
                        type: 'POST',
                        success: function (data) {
                            if (data.Success) {
                               Swal.fire(
                                    'Deleted!',
                                    'Xóa người dùng thành công',
                                    'success'
                                )
                                location.reload();
                            }
                            else {
                              Swal.fire(
                                    'Deleted!',
                                    'Xóa người dùng thành công',
                                    'danger'
                                )
                            }
                        },
                         error: function (error) {
                             alert('Lỗi ajax' + error)
                        },
                        cache: false,
                        processData: false,
                        contentType: false
                    });
                }
            })
        }
    </script>
}