@model IEnumerable<KQT.Entity.NguoiDung>

@{
    ViewBag.Title = "Người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    input {
        border: none;
        background-color: rgba(255, 255, 255, 0.00);
    }
</style>
<h2>Danh sách người dùng</h2>

<p>
    @Html.ActionLink("Thêm mới", "CreateNguoiDung")
</p>
<table class="table">
    <tr>
        <th>
            Tên đăng nhập
        </th>
        <th>
            Mật khẩu
        </th>
        <th>
            Ảnh đại diện
        </th>
        <th>
            Họ tên
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Email
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Ngày tạo
        </th>
        <th>
            Vai trò
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDangNhap)
            </td>
            <td>
                <input value="@Html.DisplayFor(modelItem => item.MatKhau)" type="password" readonly />
            </td>
            <td>
                <img src="~/Content/img/User/@item.Avatar" style="width:50px;height:50px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaiTroId)
            </td>
            <td>
                @Html.ActionLink("Sửa", "EditNguoiDung", new { NguoiDungId = item.Id }) |
                @Html.ActionLink("Chi tiết", "DetailsNguoiDung", new { NguoiDungId = item.Id }) |
                <a href="@Url.Action("DeleteNguoiDung","AdminHome",new { NguoiDungId = item.Id })" onclick="confirm('Bạn có chắc chắn muốn xóa không?')">Xóa</a>
            </td>
        </tr>
    }
</table>