@model IEnumerable<KQT.Entity.VaiTro>

@{
    ViewBag.Title = "VaiTro";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Vai trò</h2>

<p>
    @Html.ActionLink("Thêm mới", "CreateVaiTro")
</p>
<table class="table">
    <tr>
        <th>
            Tên vai trò
        </th>
        <th>
            Mô tả
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenVaiTro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.ActionLink("Sửa", "EditVaiTro", new { VaiTroId = item.Id }) |
            @Html.ActionLink("Chi tiết", "DetailsVaiTro", new { VaiTroId = item.Id }) |
            <a href="@Url.Action("DeleteVaiTro","AdminHome",new { VaiTroId = item.Id })" onclick="confirm('Bạn có chắc chắn muốn xóa không?')">Xóa</a>
        </td>
    </tr>
}

</table>
